@font-face {
    font-family: "TT Lakes Bold"; /* РРјСЏ С€СЂРёС„С‚Р° */
   src: url(/assets/fonts/TTLakesCondensed-Bold.woff); /* РџСѓС‚СЊ Рє С„Р°Р№Р»Сѓ СЃРѕ С€СЂРёС„С‚РѕРј */
}
@font-face {
    font-family: "TT Lakes Regular";
    src: url(/assets/fonts/TTLakesCondensed-Regular.woff);
}
@font-face {
    font-family: "TT Lakes Demibold";
    src: url(/assets/fonts/TTLakesCondensed-DemiBold.woff);
}
body {
    margin: 0;
    font-family: "TT Lakes Regular";
}
.button {
    border: none;
    background-color: white;
    padding-left: 0;
}
.mobile-menu {
    width: 320px;
    min-height: 95%;
    position: fixed;
    box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
    padding: 1.5em 1.5em 2em 1.5em;
    display: flex;
    flex-direction: column;
}
.menu__header {
    display: flex;
    align-items: center;
    gap: 1em;
    padding-bottom: 3.5em;
}
svg {
    cursor: pointer;
}
.logo {
    cursor: default;
}
.menu__header > .menu__seacrh {
    margin-left: auto;
}
.mobile-menu .menu__nav ul{
    display: flex;
    flex-direction: column;
    gap: 2em;
}
.mobile-menu .menu__nav {
    flex-grow: 1;   
}
.menu__button {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
    border: none; 
    padding: 0;
    text-align: start;
    font-family: "TT Lakes Demibold";
    cursor: pointer;
}
.menu__button ul:hover {
    opacity: .7;
}
.menu__button ul:focus {
    opacity: .3;
}
.menu__button.button__active {
    color: #7E7E82;
    opacity: 1;
}
.button__active::before {
    content: "";
    height: 32px;
    width: 4px;
    background: #41F6D7;
    transform: matrix(-1, 1, 0, 1, 0, 0);
    cursor: pointer;
    position: absolute;
    left: 0;
}
.menu__footer .support__group {
    display: flex;
    gap: .6em;
}
.menu__footer > span {
    margin-top: 1em;
    display: flex;
    font-family: "TT Lakes Demibold";
}
.menu__footer .tel_text {
    font-family: "TT Lakes Bold";
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6px;
    margin-top: .5em;
    margin-bottom: 2.5em;
}
.menu__footer .language {
    display: flex;
    padding: 0;
}
.menu__footer ul .change-language {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
    margin-right: .5em;
    text-align: start;
    font-family: "TT Lakes Demibold";
    cursor: pointer;
}
.menu__footer ul .change-language.change-language__active {
    color: #7E7E82;
}
.resetting_ul {
    list-style-type: none;
    padding: 0;
}